input/2012-09-22_louisville_ky/1-09[[:space:]]Sweetness.wav filter=lfs diff=lfs merge=lfs -text
input/2012-09-22_louisville_ky/2-01[[:space:]]Panama.wav filter=lfs diff=lfs merge=lfs -text
input/2012-09-22_louisville_ky/2-02[[:space:]]Morning[[:space:]]Song.wav filter=lfs diff=lfs merge=lfs -text
input/2012-09-22_louisville_ky/2-05[[:space:]]Flying.wav filter=lfs diff=lfs merge=lfs -text
input/2012-09-22_louisville_ky/3-06[[:space:]]Conduit.wav filter=lfs diff=lfs merge=lfs -text
input/2012-09-22_louisville_ky/3-08[[:space:]]Conduit.wav filter=lfs diff=lfs merge=lfs -text
input/2012-09-22_louisville_ky/3-09[[:space:]]Kimble.wav filter=lfs diff=lfs merge=lfs -text
input/2012-09-22_louisville_ky/1-02[[:space:]]Liberty[[:space:]]Echo.wav filter=lfs diff=lfs merge=lfs -text
input/2012-09-22_louisville_ky/1-08[[:space:]]Sociable[[:space:]]Jimmy.wav filter=lfs diff=lfs merge=lfs -text
input/2012-09-22_louisville_ky/2-03[[:space:]]Miss[[:space:]]Tinkle's[[:space:]]Overture.wav filter=lfs diff=lfs merge=lfs -text
input/2012-09-22_louisville_ky/2-04[[:space:]]Push[[:space:]]The[[:space:]]Pig.wav filter=lfs diff=lfs merge=lfs -text
input/2012-09-22_louisville_ky/3-07[[:space:]]Glory.wav filter=lfs diff=lfs merge=lfs -text
input/2012-09-22_louisville_ky/3-11[[:space:]]Encore_[[:space:]]All[[:space:]]In[[:space:]]Time.wav filter=lfs diff=lfs merge=lfs -text
input/2012-09-22_louisville_ky/1-04[[:space:]]Syncopated[[:space:]]Strangers.wav filter=lfs diff=lfs merge=lfs -text
input/2012-09-22_louisville_ky/1-05[[:space:]]Deeper.wav filter=lfs diff=lfs merge=lfs -text
input/2012-09-22_louisville_ky/1-06[[:space:]]Syncopated[[:space:]]Strangers.wav filter=lfs diff=lfs merge=lfs -text
input/2012-09-22_louisville_ky/1-10[[:space:]]Got[[:space:]]Your[[:space:]]Milk[[:space:]](Right[[:space:]]Here).wav filter=lfs diff=lfs merge=lfs -text
input/2012-09-22_louisville_ky/1-03[[:space:]]Walletsworth.wav filter=lfs diff=lfs merge=lfs -text
input/2012-09-22_louisville_ky/1-07[[:space:]]YYZ.wav filter=lfs diff=lfs merge=lfs -text
input/2012-09-22_louisville_ky/3-10[[:space:]]Pay[[:space:]]The[[:space:]]Snucka.wav filter=lfs diff=lfs merge=lfs -text
input/2012-09-22_louisville_ky/1-01[[:space:]]Catshot.wav filter=lfs diff=lfs merge=lfs -text
